{% extends "base.html" %}
{% block header %}
<p id="page_name">Total COVID-19 Cases</p>
{% endblock %}
{% block content %}
<form action="/covid-stat" method="POST" id="getStatID">
    <input type="text" name="state" class="input_box" id="state_code">
    <button id="submit_btn" form="getStatID" type="submit">Submit</button>
</form>

<div class="display">
    {% if showStat == True %}
        {% autoescape false %}
            <div class="result">
                <p>Total cases <br/> {{totalCases}} <br/><br/>  Last updated: {{date}} </p>
            </div>
            <div class="result">
                <p>New cases <br/>{{newCases}} <br/><br/>  Last updated: {{date}} </p>
            </div>
        {% endautoescape %}
    {% endif %}

    {% if noResult == True %}
        <div class="result">
            <p>Please enter a state initial</p>
        </div>
    {% endif %}
</div>

{% endblock %}


