{% extends "base.html" %}
{% block header %}
<p id="page_name">Total COVID-19 Cases</p>
{% endblock %}
{% block content %}
<div id="search_bar">
    <p>Covid Cases</p>
    <form action="/covid-stat" method="POST" id="getStatID">
        <input type="text" name="state" class="input_box" id="state_code" placeholder="Enter a state initial (e.g. WA)" onClick="this.select();">
        <button id="submit_btn" form="getStatID" type="submit">Submit</button>
    </form>
</div>
<div class="displayCase">
    {% if showStat == True %}
        {% autoescape false %}
            <div class="result">
                <p id="case">Total cases: <br/><span style="font-size: 50px">{{totalCases}}</span><br/><br/>  Last updated: {{date}} </p>
            </div>
            <div class="result">
                <p id="case">New cases: <br/><span style="font-size: 50px">{{newCases}}</span><br/><br/>  Last updated: {{date}} </p>
            </div>
            <div class="result" id="whiteD"></div>
            <div class="result" id="whiteD"></div>
        {% endautoescape %}
    {% endif %}

    {% if noResult == True %}
        <div class="result">
            <p>Please enter a state initial</p>
        </div>
    {% endif %}
</div>

{% endblock %}


