{% extends "base.html" %}
{% block header %}
<p id="page_name">Flights</p>
{% endblock %}

{% block content %}
<div id="search_bar">
    <p>Flights</p>
    <form action="/flights" method="POST" id="findFlightsID">
        <input type="text" name="depart" class="input_box" id="state_code" placeholder="Enter Departure City" onClick="this.select();">
        <input type="text" name="dest" class="input_box" id="zip_code" placeholder="Enter Destination City" onClick="this.select();">
        <button id="submit_btn" form="findFlightsID" type="submit">Submit</button>
    </form>
</div>

{% if showFlights == True %}
        {% autoescape false %}
            <p class="p_result">Here are the flights that we can find:</p>
            <div class="display">
            {% for items in flights %}
                <div class="resultF">
                    <p>{{items}}</p>
                </div>
            {% endfor %}
        {% endautoescape %}
{% endif %}
    
    {% if noResult == True %}
    <div class="result">
        <p>No flights found for {{input}}.</p>
    </div>
    {% endif %}
    
</div>
{% endblock %}

