<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/styles.css">
        <script type="text/javascript" src="/static/intro.js"></script>
        <title>Business Trip Planner During Pandemic</title>
    </head>

    <body>
        <h1 id="website_name">Business Trip </h1>
        <div id="rectangle">
            <!-- Top Navigation Menu -->
            <!-- Navigation links (hidden by default) -->
            <div id="menu_links">
                <a href="javascript:void(0)" class="close_menu" onclick="closeNav()">&times;</a>
                <a href="#news">Home</a>
                <a href="#contact">Vaccine Distribution Sites</a>
                <a href="#about">Covid-19 Cases</a>
                <a href="#about">Flights</a>
                <a href="#about">Hotels</a>
                <a href="#about">Restaurants</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="openNav()">
                <img src="/static/align-right.png"/>
            </a>
            <p class="intro" id="intro_question">Traveling during Covid-19?</p>
            <p class="intro" id="intro_pitch">Check out recommended hotels, restaurants, and flights for your trip and information on the latest Covid cases and vaccine distribution sites near your destination.</p>
            <p id="find_h">Find</p>
            <div>
                <select id="dropdown">
                    <option>Find information on... </option>
                    <option>Covid-19 Vaccine Distribution Sites</option>
                    <option>Covid-19 Cases</option>
                    <option>Flights</option>
                    <option>Hotels</option>
                    <option>Restaurants</option>
                </select>
            </div>
            <button id="button1" type="button">Enter</button>
        </div>
        <img id="pic1" src="/static/image 1.png"/>
    </body>
</html>