{% extends "base.html" %}
{% block header %}
<p id="page_name">Hotels and Restaurants</p>
{% endblock %}
{% block content %}
<form action="/places" method="POST" id="findPlacesID">
    <input type="text" name="city" class="input_box" id="state_code" value="Enter a city" onClick="this.select();">
    <input type="text" name="zip_code" class="input_box" id="zip_code" value="Enter zip code" onClick="this.select();">
    <button id="submit_btn" form="findPlacesID" type="submit">Submit</button>
</form>

<div class="display">
{% if showHotels == True %}
    {% autoescape false %}
    <div class="result">
        <p>{{hotels}}</p>
    </div>
    {% endautoescape %}
{% endif %}
{% endblock %}
</div>

