{% extends "base.html" %}
{% block header %}
<p id="page_name">Vaccine Sites</p>
{% endblock %}
{% block content %}
<form action="/vaccination-sites" method="POST" id="findSitesID">
    <input type="text" name="state" class="input_box" id="state_code">
    <input type="text" name="zip_code" class="input_box" id="zip_code">
    <button form="findSitesID" type="submit" id="submit_btn">Submit</button>
</form>
{% if showSites == True %}
    {% autoescape false %}
    <div class="result">
        <p>{{message}}</p>
    </div>
    {% endautoescape %}
{% endif %}


{% endblock %}