{% extends "base.html" %}
{% block header %}
<p id="page_name">Vaccine Sites</p>
{% endblock %}
{% block content %}
<form action="/vaccination-sites" method="POST" id="findSitesID">
    <input type="text" name="state" class="input_box" id="state_code" value="Enter a state initial (e.g. WA)" onClick="this.select();">
    <input type="text" name="zip_code" class="input_box" id="zip_code"value="Enter a zip code (e.g. 98031)" onClick="this.select();">
    <button id="submit_btn" form="findSitesID" type="submit">Submit</button>
</form>
<div class="display">
    {% if showSites == True %}
        {% autoescape false %}
            {% for items in message %}
                <div class="result">
                    <p>{{items}}</p>
                </div>
            {% endfor %}
        {% endautoescape %}
    {% endif %}

    {% if noResult == True %}
    <div class="result">
        <p>No vaccination sites found.</p>
    </div>
    {% endif %}
</div>

{% endblock %}